<div class="card" style="min-width: 430px">
  <div class="card-body">
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        id="todos"
        name="sexo"
        value="Todos"
        [(ngModel)]="radioButtonSeleccionado"
        (change)="radioChange()"
      />
      <label class="form-check-label" for="todos">Todos({{ todos }})</label>
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        id="femenino"
        name="sexo"
        value="Femenino"
        [(ngModel)]="radioButtonSeleccionado"
        (change)="radioChange()"
      />
      <label class="form-check-label" for="femenino"
        >Femenino( {{ femenino }} )</label
      >
    </div>
    <div class="form-check form-check-inline">
      <input
        class="form-check-input"
        type="radio"
        id="masculino"
        name="sexo"
        value="Masculino"
        [(ngModel)]="radioButtonSeleccionado"
        (change)="radioChange()"
      />
      <label class="form-check-label" for="inlineCheckbox3"
        >Masculino( {{ masculino }} )</label
      >
    </div>
  </div>
</div>
